{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<svg viewBox=" 0 0 200 200 " xmlns="http://www.w3.org/2000/svg ">
  <!-- <path fill="#FF0066 " d="M56.8,-17.2C66.1,10.3,61.1,43.7,42.9,56.3C24.7,68.9,-6.7,60.6,-26,44.5C-45.3,28.4,-52.6,4.5,-46.3,-18.8C-39.9,-42.2,-20,-64.9,1.9,-65.5C23.7,-66.1,47.5,-44.6,56.8,-17.2Z " transform="translate(100 100) " />
</svg>, initial-scale=1.0"> -->
    <link rel="stylesheet" type="text/css" href="{% static '/css/body.css' %}">
    <title></title>
</head>

<body>
    <div class="img-overlay-wrap">
        <img src="static/img/animal.svg">
        <svg class="bottom" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
            <path fill="#A7F0BA"
                d="M56.8,-17.2C66.1,10.3,61.1,43.7,42.9,56.3C24.7,68.9,-6.7,60.6,-26,44.5C-45.3,28.4,-52.6,4.5,-46.3,-18.8C-39.9,-42.2,-20,-64.9,1.9,-65.5C23.7,-66.1,47.5,-44.6,56.8,-17.2Z"
                transform="translate(100 100)">
        </svg>
        <svg class="top" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
            <path fill="#F1C21B"
                d="M47.9,-17.4C56.5,11,54.2,41.2,34.6,57.8C15,74.5,-21.8,77.6,-43,61.7C-64.1,45.7,-69.5,10.7,-59.8,-19.3C-50,-49.3,-25,-74.2,-2.7,-73.3C19.6,-72.4,39.3,-45.8,47.9,-17.4Z"
                transform="translate(100 100)" />
        </svg>
    </div>

</body>

</html>