{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<svg viewBox=" 0 0 200 200 " xmlns="http://www.w3.org/2000/svg ">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap " rel="stylesheet ">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css " rel="stylesheet ">
    <!-- fonts -->
    <link rel="stylesheet " type="text/css " href="{% static '/css/body.css' %} ">
    <title></title>
</head>

<body>
    <div class="img-overlay-wrap ">
        <img src="static/img/animal.svg ">
        <svg class="bottom " viewBox="0 0 200 200 " xmlns="http://www.w3.org/2000/svg ">
            <path fill="#7AE582 "
                d="M56.8,-17.2C66.1,10.3,61.1,43.7,42.9,56.3C24.7,68.9,-6.7,60.6,-26,44.5C-45.3,28.4,-52.6,4.5,-46.3,-18.8C-39.9,-42.2,-20,-64.9,1.9,-65.5C23.7,-66.1,47.5,-44.6,56.8,-17.2Z "
                transform="translate(100 100) ">
        </svg>
        <svg class="top " viewBox="0 0 200 200 " xmlns="http://www.w3.org/2000/svg ">
            <path fill="#FFBA08 "
                d="M41.7,-13.1C50,11.9,49.8,40.2,34.4,52.6C19.1,65,-11.6,61.5,-35.5,45.1C-59.4,28.6,-76.6,-0.9,-69.6,-24.2C-62.5,-47.5,-31.3,-64.6,-7.3,-62.2C16.7,-59.9,33.4,-38.1,41.7,-13.1Z "
                transform="translate(100 100) ">
        </svg>
    </div>
    <div class="textbox ">
        <h1>Keep Track of <u><br>Everything</u></h1>
        <div class="type-1 ">
            <a href=" " class="btn btn-2 ">
                <span class="txt ">Sign Up!</span>
                <span class="round "><i class="fa fa-chevron-right "></i></span>
            </a>
        </div>
    </div>
</body>

</html>

<!-- notes -->
<!-- Icons made by <a href="http://www.freepik.com/ " title="Freepik ">Freepik</a> from <a href="https://www.flaticon.com/ "
    title="Flaticon "> www.flaticon.com</a> -->