{% load static %} {% include 'accounts/navbar.html' %} {% include 'accounts/main.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<svg viewBox=" 0 0 200 200 " xmlns=" http://www.w3.org/2000/svg ">
    <!-- fonts -->
    <link href=" https://fonts.googleapis.com/css2?family=Montserrat&display=swap " rel=" stylesheet ">
    <link href=" //maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css " rel=" stylesheet ">
    <!-- fonts -->
    <link rel=" stylesheet " type=" text/css " href=" {% static '/css/body.css' %} ">
    <title></title>
</head>

<body>
    <div class=" img-overlay-wrap ">
        <img src=" static/img/animal.svg ">
        <svg class="bottom " viewBox="0 0 200 200 " xmlns="http://www.w3.org/2000/svg ">
            <path fill="#7AE582 "
                d="M56.2,-43.2C66.4,-31.9,64,-8.9,57.1,9.7C50.2,28.3,38.8,42.6,21.5,55C4.1,67.3,-19.1,77.6,-35.3,70.8C-51.4,64,-60.5,39.9,-65.5,15.6C-70.6,-8.7,-71.6,-33.4,-60,-45C-48.5,-56.6,-24.2,-55.2,-0.6,-54.7C23,-54.2,45.9,-54.5,56.2,-43.2Z "
                transform="translate(100 100) " />
        </svg>
        <svg class="top " viewBox="0 0 200 200 " xmlns="http://www.w3.org/2000/svg ">
            <path fill="#FFBA08 "
                d="M51.9,-46.1C63.4,-26.8,66.4,-5.5,60,10.1C53.6,25.7,37.8,35.6,22.6,40.5C7.3,45.5,-7.2,45.4,-25,41C-42.7,36.7,-63.7,28,-67.9,14.2C-72.1,0.3,-59.7,-18.7,-45.6,-38.5C-31.5,-58.4,-15.7,-79.1,2.2,-80.9C20.1,-82.7,40.3,-65.4,51.9,-46.1Z "
                transform="translate(100 100) " />
        </svg>
    </div>
    <div class=" textbox ">
        <h1>Keep Track of <u><br>Everything</u></h1>
        <div class=" type-1 ">
            <a href="{% url 'signup' %} " class=" btn btn-2 ">
                <span class=" txt ">Sign Up!</span>
                <span class=" round "><i class=" fa fa-chevron-right "></i></span>
            </a>
        </div>
    </div>
</body>

</html>

<!-- notes -->
<!-- Icons made by <a href=" http://www.freepik.com/ " title=" Freepik ">Freepik</a> from <a href=" https://www.flaticon.com/ "
    title=" Flaticon "> www.flaticon.com</a> -->
<!-- buttons by http://cssdeck.com/labs/esbtmdeg -->