{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <script type="javascript" src="{% static 'js/navbar.js' %}"></script>
    <title>Home Page</title>
</head>

<body>
    {% include 'accounts/navbar.html' %} {% include 'accounts/body.html' %} {% block content %} {% endblock %}

    <hr>
    <path fill="#00cba9" fill-opacity="1" d="M0,96L48,90.7C96,85,192,75,288,101.3C384,128,480,192,576,186.7C672,181,768,107,864,106.7C960,107,1056,181,1152,192C1248,203,1344,149,1392,122.7L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
    </path>
    </svg>

</body>

</html>