{% load static %}

<!--
==========================================================
                      by Évelym S.
       https://www.linkedin.com/in/evelym-santos/
==========================================================
-->
<nav id="navbar" class="">
    <div class="nav-wrapper">
        <!-- Navbar Logo -->
        <div class="logo">
            <!-- Logo Placeholder for Inlustration -->
            <a href="#home"><i class="fas fa-chess-knight"></i> MOXI</a>
        </div>

        <!-- Navbar Links -->
        <ul id="menu">
            <li><a href="#">Home</a></li>
            <!--
   -->
            <li><a href="#">Log In</a></li>
            <!--
   -->
            <li><a href="#">Sign Up</a></li>
        </ul>
    </div>
</nav>


<!-- Menu Icon -->
<div class="menuIcon">
    <span class="icon icon-bars"></span>
    <span class="icon icon-bars overlay"></span>
</div>


<div class="overlay-menu">
    <ul id="menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Log In</a></li>
        <li><a href="#">Sign Up</a></li>
    </ul>
</div>