{% load static %}{% include 'accounts/main.html' %}{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fonts -->
    <link href=" https://fonts.googleapis.com/css2?family=Montserrat&display=swap " rel=" stylesheet ">
    <!-- fonts -->
    <link rel=" stylesheet " type=" text/css " href=" {% static '/css/signin.css' %} ">
</head>

<body>


    <form class="form-signin">
        <p class="text-center">
            <img class="turtle" src="/static/img/animal.svg">
            <div class="leaves">
                <img src="/static/img/Leaves_object.svg">
            </div>
            <div class="leaves-1">
                <img src="/static/img/Leaves_object.svg">
            </div>
            <div class="leaves-2">
                <img src="/static/img/Leaves_object.svg">
            </div>
            <div class="leaves-3">
                <img src="/static/img/Leaves_object.svg">
            </div>
        </p>
        <div class="input-group-login sombreado-input">
            <div class="input-group-prepend-login">
                <span class="input-group-text fondo-icon">
                    <i class="fas fa-user"></i>
                </span>
            </div>
            <input type="email" class="border-0-login form-control-login input-border-none" placeholder="Email" />
        </div>

        <br />
        <div class="input-group-login sombreado-input">
            <div class="input-group-prepend-login">
                <span class="input-group-text fondo-icon">
                    <i class="fas fa-lock"></i>
                </span>
            </div>
            <input type="password" class="border-0-login form-control-login input-border-none" placeholder="Password" aria-label="Username" />
        </div>

        <br>
        <p class="text-center">
            <button class="button-signup fondo-color-signup">
                <b>SIGN IN</b>
            </button>
        </p>
    </form>
</body>

</html>

{% endblock content %}